.input-field{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 40px;
    display: flex;
    justify-self: center;
    font-size: 20px;
    font-weight:5px;
    background-color: #b5e8ca; 
}
.input-field:hover{
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.2);
     background: #53ad67;
}