btn{
    border-radius: 7px;
    background-color: #2e7d32;
    border: none;
}
.buy-now-btn{
    margin-left: 10px;
    height: 30px;
    color: white;
   padding: 8px;
    text-align: center;
    font-size: 14px;
}
.buy-now-btn:hover{
    background-color:#218838;
}
.know-more-btn{
    margin-left: 10px;
    height: 30px;
    color: white;
   padding: 8px;
    text-align: center;
    font-size: 14px;
}
.know-more-btn:hover{
    background-color:#218838;
}